body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #ffffff 50%, #707070 50%);
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #929191;
  box-shadow: 0 2px 4px 0 rgba(7, 7, 7, 0.5);
  background-color: #f7f7f7;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links a { /* anchor tags have default settings that can be changed here */
  text-decoration: none; 
  color: inherit;
  font-size: 19px;
}

.nav-links a:hover {
  text-decoration: underline;
  color: rgb(134, 0, 0)
}

.content {
  display: flex; /* so u need to put it in flex so it wraps everything in a container that says "im flex, put things side by side, not vertical*/
}

.text-box-left{
  justify-content: flex-start; /* pushes items to the left */
  padding: 400px 280px;
  font-size: 60px;
  font-weight: bold;

}

.right-side {
  flex-direction: column; /* now stacks things vertically on the right side. it's like u need both flex and vertical things happening*/
  padding-left: 60px;
}

.text-box-right-logo {
  padding-top: 220px;
  font-size: 40px;
  color: white;
}
.rest-of-text{
  color: white;
  font-size: 30px;
}